version: "3.9"

services:
  db:
    container_name: db
    image: postgres:18.1-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-db}
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-myAwEsOm3pa55@w0rd}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      app_network:
        aliases:
          - db.lvh.me

  app:
    container_name: app
    platform: linux/amd64
    pid: "host"
    build:
      context: .
    environment:
      APP_NAME: ${APP_NAME:-web-server}
      APP_VERSION: ${APP_VERSION:-1.0.0}
      HTTP_PORT: ${HTTP_PORT:-8080}
      HTTP_USE_PREFORK_MODE: ${HTTP_USE_PREFORK_MODE:-false}
      LOG_LEVEL: ${LOG_LEVEL:-debug}
      PG_POOL_MAX: ${PG_POOL_MAX:-2}
      PG_URL: postgres://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-myAwEsOm3pa55@w0rd}@db:5432/${POSTGRES_DB:-db}
      METRICS_ENABLED: ${METRICS_ENABLED:-true}
      SWAGGER_ENABLED: ${SWAGGER_ENABLED:-true}
      SKINPORT_BASE_URL: ${SKINPORT_BASE_URL:-https://api.skinport.com/v1}
      SKINPORT_APP_ID: ${SKINPORT_APP_ID:-730}
      SKINPORT_CURRENCY: ${SKINPORT_CURRENCY:-USD}
      SKINPORT_CACHE_TTL_SEC: ${SKINPORT_CACHE_TTL_SEC:-400}
    ports:
      - "${HTTP_PORT:-8080}:8080"
    depends_on:
      - db
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: '2Gb'
        reservations:
          cpus: '0.60'
          memory: '1Gb'
    networks:
      app_network:
        aliases:
          - app.lvh.me

  nginx:
    container_name: nginx
    image: nginx:1.29.4-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      app_network:
        aliases:
          - nginx.lvh.me

networks:
  app_network:
    external: false

volumes:
  db_data:
